GOOGLE_CREDENTIALS_PATH=credentials.json
SPREADSHEET_NAME=Personal finances
MONEFY_FOLDER=/mnt/c/Users/TU_USUARIO/OneDrive/Monefy
UI_MODE=flask
FLASK_PORT=8080
STREAMLIT_PORT=8501
LOG_CONSOLE_LEVEL=INFO
LOG_FILE_LEVEL=DEBUG
